:root {
    --fontfamily: 'roboto', Verdana, 'Geneva', Tahoma, sans-serif;
    --color1: #490139;
    --backgroundColor1: #ffe7e7;
    --blackcolor: #000000;
    --bluecolor: #120075;
    --whitecolor: #ffffff;
}

* {
    font-family: var(--fontfamily);
    box-sizing: border-box;
}

/*--------------------------Hamburger Navigation-----------------------------*/
.hamburger {
    background: none;
    border: none;
    color: var(--whitecolor);
    cursor: pointer;
    background-color: var(--color1);
}

.hamburger::before {
    content: "\2630";
    font-weight: 900;
    font-size: xx-large;
}

.hamburger.show::before {
    content: "\00D7";
    font-weight: 900;
}

/*-----------------Header------------------------------------*/
header {
    display: grid;
    grid-template-columns: 24px auto 0.6fr;
    padding: 10px 0 16px 10px;
    align-items: end;
    column-gap: 8px;
    background-color: var(--color1);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
}

header span {
    font-size: 1.2rem;
    color: var(--whitecolor);
}

#hide-menu {
    display: none;
}

#hide-menu.show-menu {
    display: block;
}

header>div {
    grid-column: 1 / -1;
    width: 89%;
}

li {
    list-style: none;
    display: flex;
    justify-content: center;
}

li a {
    text-decoration: none;
    color: var(--whitecolor);
    width: 100%;
    text-align: center;
    padding: 20px 0;
    font-weight: 600;
    border-bottom: #ffe7e7 1px solid;
}

nav li :hover {
    background-color: var(--bluecolor);
}

.current {
    background-color: var(--blackcolor);
}

/*----------------------body-------------------------*/
h1 {
    padding-left: 10px;
}

/*----------------------------------main----------------------------------*/
.toggle {
    display: block;
    margin: 20px auto;
    text-align: center;
}

.toggle a {
    background-color: var(--color1);
    margin: 0 10px;
    padding: 10px 24px;
    color: var(--backgroundColor1);
    border-radius: 10px;
    text-decoration: none;
}

.card-container {
    background-color: var(--backgroundColor1);
    max-width: 300px;
    margin: 10px auto;
    border-radius: 16px;
}

img.member-img,
.card img {
    display: block;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
}

.card-container h2,
p {
    text-align: center;
    padding: 0;
    margin: 0;
}

.card-container h2 {
    padding: 6px;
}

.card-container p {
    padding: 4px;
}

.build-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

.toggle .current {
    background-color: var(--blackcolor);
}

#cards {
    max-width: 1000px;
    margin: 0 auto;
}

/*---------------footer----------------------------*/
footer {
    background-color: var(--backgroundColor1);
    text-align: center;
    padding: 2px 0;
    display: block;
    max-width: 100%;
}

.logos-container {
    display: flex;
    justify-content: space-around;
}

.logos-container img {
    width: 30%;
    height: auto;
    margin: 20px 0;
    max-width: 88px;
}

footer h3,
footer p,
footer span {
    width: 100%;
    box-sizing: border-box;
    word-wrap: break-word
}