/*estaba en 38 rem por si acaso*/
@media only screen and (min-width: 40rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    .hamburger {
        display: none;
    }

    .main-div {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 20px;
        margin: 0 10px;
    }

    #hide-menu {
        display: block;
    }

    nav ul {
        display: grid;
        grid-template-columns: 70px 170px 170px;
        padding: 0 0 0 10px;
        margin: 10px 0 16px 0;
    }

    a {
        font-size: large;
    }

    nav ul li .current {
        background-color: #000000;
    }
}