@media only screen and (min-width: 38rem) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    .hamburger {
        display: none;
    }

    .section1 {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 20px;
        margin: 0 10px;
    }

    #hide-menu {
        display: block;
    }
}