/*------------------------Site wide---------------------*/
:root {
    --color1: #490139;
    --backgroundColor1: #ffe7e7;
    --blackcolor: #000000;
    --greencolor: #014d01;
    --fontfamily: 'roboto', Verdana, Geneva, Tahoma, sans-serif;
    --whitecolor: #ffffff;
}

* {
    font-family: 'roboto', Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/*-------------------------Header-----------------------*/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
}

header span {
    font-size: 1.2rem;
    color: var(--color1);
}

/*----------------------------------main----------------------------------*/

/*--------------------------Hamburger Navigation-----------------------------*/
.hamburger {
    background: none;
    border: none;
    color: var(--color1);
    cursor: pointer;
    background-color: var(--whitecolor);
}

.hamburger::before {
    content: "\2630";
    font-weight: 900;
    font-size: xx-large;
}

.hamburger.show::before {
    content: "\00D7";
    font-weight: 900;
}

/*---------------------------Navigation------------------------------------*/
nav {
    background-color: var(--color1);
    color: var(--backgroundColor1);
}

nav ul {
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr;
    padding: 0;
    margin: 0 auto;
    gap: 20px;
}

nav li {
    list-style: none;
    padding: 4px;
}

#hide-menu {
    display: none;
}

#hide-menu.show-menu {
    display: block;
}

nav li:hover {
    background-color: var(--greencolor);
}

a {
    color: inherit;
    text-decoration: none;
    font-size: larger;
    padding: 2px 2px;
    display: block;
}

#menu {
    padding: 0;
}

.current {
    background-color: var(--blackcolor);
}

/*-----------------------------H1-------------------------------------*/
h1 {
    margin: 20px 0 20px 10px;
}

/*--------------------------main-div section 1-----------------------------*/
.main-div {
    margin: 0 10px;
}

.main-div section h2 {
    background-color: var(--color1);
    color: var(--backgroundColor1);
    margin: 0;
    padding: 6px;
    text-align: center;
}

.main-div section {
    background-color: var(--backgroundColor1);
}

.main-div section p,
img {
    padding: 10px;
}

.student-photo {
    display: flex;
    justify-content: center;
}

/*--------------------------------section 2-----------------------------------*/
.section2 h2 {
    background-color: var(--color1);
    color: var(--backgroundColor1);
    padding: 6px;
    text-align: center;
    margin-bottom: 6px;
}

.section2 a {
    padding: 10px;
    text-align: center;
}

.section2 p {
    text-align: center;
}

.section2 li {
    text-align: center;
    background-color: var(--backgroundColor1);
    padding: 4px;
    margin: 0 6px;
    border-radius: 6px;
    border: var(--color1) solid 1px;
}

.section2 ul {
    margin: 0;
    padding: 4px;
}

/*--------------------------------section 3-----------------------------------*/

.section3 h2 {
    text-align: center;
    background-color: var(--color1);
    color: var(--backgroundColor1);
}

.general-courses {
    display: flex;
    justify-content: space-around;
    margin: 0 0 20px 0;
}

.general-courses a {
    text-align: center;
    background-color: var(--color1);
    color: var(--backgroundColor1);
    max-width: 200px;
    padding: 10px 25px;
    border-radius: 8px;
}

.general-courses a :hover {
    cursor: pointer;
}

#courses-display {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 10px;
    margin: 0 auto;
    width: 100%;
    max-width: 90%;
}

#courses-display section {
    background-color: var(--color1);
    color: var(--backgroundColor1);
    padding: 0;
    border-radius: 8px;
    text-align: center;
}

#courses-display section h3 {
    margin: 0;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 400;
}

.credits {
    text-align: center;
    font-weight: bolder;
}

/*---------------------------------------------footer--------------------------*/
.logos-container {
    display: flex;
    justify-content: center;
}

footer {
    background-color: var(--backgroundColor1);
    text-align: center;
    padding: 2px 0;
}