/*------------------------Site wide---------------------*/
:root {
    --color1: #490139;
    --backgroundColor1: #ffe7e7;
    --fontfamily: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

/*-------------------------Header-----------------------*/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding: 0 0 0 0;
}

header span {
    font-size: 1.2rem;
    color: var(--color1);
}

/*----------------------------------main----------------------------------*/

/*--------------------------Hamburger Navigation-----------------------------*/
.hamburger {
    background: none;
    border: none;
    color: var(--color1);
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-weight: 900;
    font-size: xx-large;
}

.hamburger.show::before {
    content: "\00D7";
    font-weight: 900;
}

/*---------------------------Navigation------------------------------------*/
nav {
    background-color: var(--color1);
    color: var(--backgroundColor1);
}

nav ul {
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr;
    padding: 0;
    margin: 0 auto;
    gap: 20px;
}

nav li {
    list-style: none;
    padding: 4px;
}

#hide-menu {
    display: none;
}

#hide-menu.show-menu {
    display: block;
}

nav li:hover {
    background-color: rgb(0, 94, 66);
}

a {
    color: inherit;
    text-decoration: none;
    font-size: x-large;
    padding: 2px 2px;
    display: block;
}

#menu {
    padding: 0;
}

.current {
    background-color: #000000;
    padding: ;
}

/*-----------------------------H1-------------------------------------*/
h1 {
    margin: 20px 0 20px 10px;
}

/*----------------------------------section 1-----------------------------*/
.section1 {
    margin: 0 10px;
}

.section1 div h2 {
    background-color: var(--color1);
    color: var(--backgroundColor1);
    margin: 0;
    padding: 6px;
    text-align: center;
}

.section1 div {
    background-color: var(--backgroundColor1);
}

.section1 div p,
img {
    padding: 10px;
}

.student-photo {
    display: flex;
    justify-content: center;
}

/*--------------------------------section 2-----------------------------------*/
.section2 h2 {
    background-color: var(--color1);
    color: var(--backgroundColor1);
    padding: 6px;
    text-align: center;
    margin-bottom: 6px;
}

.generalCourses,
.specificCourses {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.section2 a {
    padding: 10px;
    text-align: center;
}

.section2 p {
    text-align: center;
}

.section2 li {
    text-align: center;
    background-color: var(--backgroundColor1);
    padding: 4px;
    margin: 0 6px;
    border-radius: 6px;
    border: var(--color1) solid 1px;
}

.section2 ul {
    margin: 0;
    padding: 4px;
}

/*--------------------------------section 3-----------------------------------*/
.logos-container {
    display: flex;
    justify-content: center;
}

.section3 h2 {
    text-align: center;
}

/*---------------------------------------------footer--------------------------*/
footer {
    background-color: var(--backgroundColor1);
    text-align: center;
    padding: 2px 0;
}